
<div class="container">
    <div class="row">
        <div class="col-sm">
            <form>
                <div>
                    <label class="form-label" style="font-weight:bold;"><i class="fa fa-solid fa-truck"></i>&nbsp;Car brand</label>
                </div>
                <div>
                    <input class="form-control" @bind-value="TransportView.Name" id="inputCarBrand" readonly/>
                </div>
                <div>
                    <label class="form-label" style="font-weight:bold;"><i class="fa fa-solid fa-truck"></i>&nbsp;Car plate</label>
                </div>
                <div>
                    <input class="form-control" @bind-value="TransportView.Number" id="inputCarPlate" readonly/>
                </div>
                <div>
                    <label class="form-label" style="font-weight:bold;"><i class="fa fa-solid fa-box"></i>&nbsp;Imported cargo</label>
                </div>
                <div>
                    <input class="form-control" @bind-value="TransportView.Cargo" id="inputCargo" readonly/>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <div style="width:60%;float:right;">
                <div>
                    <label class="form-label" style="font-weight:bold;"><i class="fa fa-solid fa-truck"></i>&nbsp;CURRENT WEIGHT</label>
                </div>
                <div>
                    <input class="form-control" style="height:40px;float:right;padding-left:30%;font-weight:bold;font-size:30px;text-align:right;" @bind-value="CurrentWeight" 
                    id="inputWeight" readonly/>
                </div>
            </div>
            <div style="float:right;width:60%;">
                <div>
                    <button class="btn btn-info mt-3" style="width:100%;font-weight:bold;" id="buttonAccept" 
                            @onclick="async() => await GetTransport()">
                        Accept car
                    </button>
                </div>
                <div>
                    <button class="btn btn-info mt-2" style="width:100%;font-weight:bold;" id="buttonbegin" 
                            @onclick="async() => await BeginWeighing()">Begin weighing</button>
                </div>
                <div>
                    <button class="btn btn-info mt-2" style="width:100%;font-weight:bold;" id="buttonSave" 
                            @onclick="async() => await SaveWeighing()">Save weighing</button>
                </div>
            </div>
        </div>
    </div>

</div>


@code {
    [Parameter]
    public TransportView TransportView { get; set; } = new();
    [Parameter]
    public int CurrentWeight { get; set; }
    [Parameter]
    public Func<Task> GetTransport { get; set; }
    [Parameter]
    public Func<Task> BeginWeighing { get; set; }
    [Parameter]
    public Func<Task> SaveWeighing { get; set; }
}
